@import "tailwindcss";
@import 'reactjs-popup/dist/index.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for webkit browsers */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}